In [ ]:
NOTE: PYTHON IS CASE SENSITIVE, UPPER AND LOWERCASE ALPBAHETS HAVE DIFFERENT MEANINGS
x=[{'python':3 'java':8}, {3,4,5},True,False]

## Data Type Conversion

In [ ]:
Note: Not all data types can be converted into each other, but few can be.

In [18]:
How to check type of a Data Type?
Using type() function

list <----> tuple

str <---> list

In [2]:
numbers = [1,2,3]
print(type(numbers))

<class 'list'>

In [3]:
numbers2 = tuple(numbers)

print(numbers2)
print(type(numbers2))

(1, 2, 3)
<class 'tuple'>

In [ ]:
name_of_the_new_tuple = tuple(old_list)
This is known as Data Type Conversion.

In [4]:
# tuple into a list
numbers3 = list(numbers2)

print(numbers3)
print(type(numbers3))

[1, 2, 3]
<class 'list'>

## NOTE: NEVER USE RESERVED KEYWORDS IN PYTHON AS VARIABLE NAMES
    ## RESERVED KEYWORDS:
        list,type,len,tuple,str,set,None,dict,bool,True,False,int,float

In [1]:
list1=[1,2,3]
tuple2=tuple(list1)
list3=list(tuple2)

In [4]:
list1[0]

1

In [5]:
tuple2[0]

1

In [6]:
x = 'We are happily learning Python'

y = list(x)

In [7]:
print(y)

['W', 'e', ' ', 'a', 'r', 'e', ' ', 'h', 'a', 'p', 'p', 'i', 'l', 'y', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [ ]:
All the characters including space will become element in the list

In [8]:
z = str(y)

In [11]:
print(type(z))
print(z)

<class 'str'>
['W', 'e', ' ', 'a', 'r', 'e', ' ', 'h', 'a', 'p', 'p', 'i', 'l', 'y', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [12]:
z[0]

'['

In [13]:
z[1]

"'"

In [15]:
z[2]

'W'

In [16]:
z[-1]

']'

In [3]:
x = {'python':3,'java':8}

y = set(x)

In [4]:
print(y)

{'java', 'python'}

In [7]:
z = dict(y)

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [8]:
# We can not convert a set into a dictionary but what we can do is...


list_of_tuples = [('python',3),('hello','world'),('java',8)]

dict1 = dict(list_of_tuples)

In [9]:
print(dict1)

{'python': 3, 'hello': 'world', 'java': 8}

In [13]:
## Immutable DataTypes: Those which can not be edited(update,delete or insert)
    int
    float
    str
    tuple
    bool
    None
    
## Mutable DataTypes: Those which can be edited(update,delte,insert)
    list
    set : keys in set are also immutable and unique
    dict : keys in dict are immutable and unique

In [ ]:
# list Vs tuple

In [14]:
tuple_of_fruits = ('kiwi','mango','banana')

tuple_of_fruits[1] = 'pineapple'

TypeError: 'tuple' object does not support item assignment

In [15]:
list_of_fruits = ['kiwi','mango','banana']

list_of_fruits[1] = 'pineapple'

In [16]:
list_of_fruits

['kiwi', 'pineapple', 'banana']

In [ ]:
id(name_of_variable) => Memory location of the object which this name is pointing to.

In [17]:
tuple_of_fruits = ('kiwi','mango','banana')
print(id(tuple_of_fruits[0]))
print(id(tuple_of_fruits[1]))
print(id(tuple_of_fruits[2]))

print(id(tuple_of_fruits))

14472992
14473024
14473056
87308808

In [21]:
tuple_of_fruits = ([1,2,3],'apple','mango')

print(id(tuple_of_fruits[0]))
print(id(tuple_of_fruits[1]))
print(id(tuple_of_fruits[2]))

99002152
14493344
14473024

In [28]:
tuple_of_fruits[0] = [1,2,3,4]

TypeError: 'tuple' object does not support item assignment

In [25]:
tuple_of_fruits[0].append(20)

In [26]:
print(tuple_of_fruits)

([1, 20, 3, 20], 'apple', 'mango')

In [27]:
print(id(tuple_of_fruits[0]))
print(id(tuple_of_fruits[1]))
print(id(tuple_of_fruits[2]))

99002152
14493344
14473024

## OPERATORS IN PYTHON

In [ ]:
1) Arithmetic Operators
+,-,*,/,//,**,%

In [29]:
a = 45+34

In [31]:
print(a)

79

In [32]:
a = 45-34

In [33]:
print(a)

11

In [34]:
b = 8*7

In [35]:
print(b)

56

In [36]:
c = 45/8

In [37]:
print(c)

5.625

In [38]:
c = 45//8 # floor division

In [39]:
print(c)

5

In [40]:
2**3

8

In [ ]:
Modulus Operator (%)

In [41]:
5%2

1

In [42]:
8%3

2

In [44]:
x = 90%27
print(x)

9

In [ ]:
## a%b
## gives remainder when a is divided by b

## Comparison Operators
What is the output of comparison operators: Boolean (True or False)
1) Equal to ==
2) Not Equal to !=
3) Greater than equals to >=
4) Less than or equals to <=
5) Greather than >
6) Less than <

In [45]:
a = 10
b = 5
print(a == b)

False

In [46]:
a = 40
b = 10
print(a>b)

True

In [47]:
a = 45
b = 30
print(a<=30)

False

In [48]:
a = 400
b = -19
print(b>a)

False

In [49]:
a = 200
b = 200
print(a!=b)

False

In [50]:
print(a == b)

True

In [ ]:
Iterable Data Types: Which contain a sort of collection of things.
    Strings : collection of characters
    list: collection of any kind of items
    tuple: ''
    set: collection of unique elements
    dict: collection of key value pair
    
Non Iterable Data Types:
    int
    float
    bool
    None

In [ ]:
## Membership Operators: For checking the membership of the iem in the iterable
1) in
2) not in

### They are used to check if any item is contained in an iterable or not.
### Output will be Boolean ( True or False)

In [51]:
fruits = ['apple','mango','banana']

print('apple' in fruits)

True

In [52]:
print('mounika' in fruits)

False

In [53]:
print('mounika' not in fruits)

True

In [54]:
x = 'happy coding'

print('h' in x)

True

In [55]:
print('y' not in x)

False