In [2]:
a = (1,2,3)

b = (1,2,3)

print(id(a))
print(id(b))

92946312
18812968

In [ ]:
x = [(1,2,3),{1,1,1,2},"This Question is Easy Please don't skip it",3.14]

In [ ]:
id checks for the memory location of the object.

In [3]:
a = 34
b = 34
print(id(a))
print(id(b))

1600387520
1600387520

In [4]:
a = [1,2,3]
b = [1,2,3]
print(id(a))
print(id(b))

92938216
92935688

In [5]:
x = [(1,2),'apple','mango']
x[0][0] = 5

TypeError: 'tuple' object does not support item assignment

In [ ]:
Operators:
    Arithmetic Operators:
        +,-,*,%,/,//,**
    Comparison Operators:
        <,>,>=,==,<=,!=
        Ouput: Boolean Value(True and False)
    Membership Operators:
        in and not in
        They basically return Boolean values(True and False)
        On Iterables
    Logical Operators:
        and
        or
        not
    Identity Operators:
        is and is not

In [11]:
True and False

False

In [12]:
True and True

True

In [13]:
True or False

True

In [14]:
False or False

False

In [15]:
not True

False

In [16]:
not False

True

In [7]:
'apple' in ['mango','banana','apple']

True

In [8]:
'a' not in 'apple'

False

In [10]:
x = {'python':3,'java':8}
# Note: membership operator only checks for keys in a dict
print('python' in x)
print(3 in x)

True
False

In [6]:
x = ([1,2,3],'apple')
x[0][0] = 50
print(x)

([50, 2, 3], 'apple')

In [23]:
a = 20

b = (a%3 == 0)
c = (a%5 == 0)

# print(b,c)
print(b or c)

True

In [21]:
a = 45
b = 56
print(a is b)

False

In [22]:
a = 45
b = 45
print(a is b)

True

In [ ]:
Iterable Data Types: Collection of things
    list : collection of elements
    set: collection of keys 
    str: collection of chars
    tuple: collection of elements
    dict: collection of pairs

None Iterable Data Types:
    int
    float
    bool
    None

In [24]:
a = (1,2,3)
b = (1,2,3)

print(id(a))
print(id(b))

92944552
18813992

In [25]:
print(a is b)

False

In [26]:
print(id(a) == id(b))

False

In [27]:
print(a is not b)

True

In [30]:
a = 15

if(a%3==0 and a%5==0):
    print('I am happy to anounce that')
    print(a,' is divisible by 3 and 5')

I am happy to anounce that
15  is divisible by 3 and 5

In [33]:
a = 25

if(a%3==0 and a%5==0):
    print('I am happy to anounce that')
    print(a,' is divisible by 3 and 5')
else:
    print('I am still happy to tell')
    print(a,' is not divisble by both 3 and 5')

I am still happy to tell
25  is not divisble by both 3 and 5

In [ ]:
if Boolean_Equivalent:
    line of code 1
    line of code 2
    ....
else:
    line of else code 1
    line of else code 2
    ....
    
if Boolean_Equivalent is true than line of code1,2 and so on will execute
else line of else code1,2,.... and so on will execute

In [34]:
print("Mohit's Bakery")
print('1) Cake','3) Veg Rolls')
print('2) Cream Rolls','4) Burger')

Mohit's Bakery
1) Cake 3) Veg Rolls
2) Cream Rolls 4) Burger

In [35]:
orderbyImtiyaz = ['Burger','Cake']

currentOrder = orderbyImtiyaz

if 'Cake' in currentOrder:
    print('Enjoy Your Cake slice sir!!')
if 'Burger' in currentOrder:
    print('Have your hot burger sir')
if 'Cream Rolls' in currentOrder:
    print('Eat your Creamy Creamy Roll')
if 'Veg Rolls' in currentOrder:
    print('Have your hot delicious Veg Roll')

Enjoy Your Cake slice sir!!
Have your hot burger sir

In [37]:
jaychallaniOrder = ['Cake','Veg Rolls']

currentOrder = jaychallaniOrder
if 'Cake' in currentOrder:
    print('Enjoy Your Cake slice sir!!')
if 'Burger' in currentOrder:
    print('Have your hot burger sir')
if 'Cream Rolls' in currentOrder:
    print('Eat your Creamy Creamy Roll')
if 'Veg Rolls' in currentOrder:
    print('Have your hot delicious Veg Roll')

Enjoy Your Cake slice sir!!
Have your hot delicious Veg Roll

In [40]:
# Check if an fruit name start with a, if yes print('wow')

fruits = ['apple','mango','kiwi']
if fruits[0][0] == 'a':
    print('wow')
if fruits[1][0] == 'a':
    print('wow')
if fruits[2][0] == 'a':
    print('wow')

wow