In [3]:
def filter_vowel(s):
    for i in s:
        if  i in 'aeiou':
            return s
       
print(list(filter(filter_vowel, ['python','java','perl','panorama','game','fly','rty'])))

['python', 'java', 'perl', 'panorama', 'game']

In [4]:
list(filter(lambda x:x%2==0,[1,2,3,4,5,6,7]))

[2, 4, 6]

In [ ]:
Test if a string contains a vowel?
example
'python' => True
'fly' => False

Do it with lambda expression.
20:03

In [5]:
'a' in 'python' or 'e' in 'python' or 'i' in 'python' or 'o' in 'python' or 'u' in 'python'

True

In [7]:
word = 'python'

'a' in word or 'e' in word or 'i' in word or 'o' in word or 'u' in word

True

In [8]:
word = 'fly'

'a' in word or 'e' in word or 'i' in word or 'o' in word or 'u' in word

False

In [9]:
fun1 = lambda word:'a' in word or 'e' in word or 'i' in word or 'o' in word or 'u' in word

In [10]:
fun1('fly')

False

In [11]:
fun1('python')

True

In [12]:
list(map(lambda no:no**2,[1,2,3]))

[1, 4, 9]

In [14]:
list(map(len,['apple','mango','abc']))

[5, 5, 3]

## lambda functions in key arguments

In [18]:
ids = ['id1','id2','id10','id4','id20','id3']
sorted(ids)

['id1', 'id10', 'id2', 'id20', 'id3', 'id4']

In [ ]:
ids_modified = ['id1','id2','id3','id4','id10','id20']

In [19]:
sorted(ids,key=lambda x:int(x[2:]))

['id1', 'id2', 'id3', 'id4', 'id10', 'id20']

In [22]:
int('id1'[2:])

1

In [23]:
int('id10'[2:])

10

In [25]:
sorted([1,2,10,3])

[1, 2, 3, 10]

In [26]:
sorted([1,2,20,3,4])

[1, 2, 3, 4, 20]

In [ ]:
If you give them strings, it will sort them according to dictionary rules and considering ascii values.

In [30]:
sorted(['apple','mango','zebra','banana','bananas','10','1','2'])

['1', '10', '2', 'apple', 'banana', 'bananas', 'mango', 'zebra']

# List Comprehension in Python

In [ ]:
short way or one line way of making a list with some logic

In [ ]:
Syntax:
    [Write some code insdie these brackets with some syntax for different kinds of code]

In [31]:
list1 = [1,2,3,4,5,6]

even_list = []

for i in list1:
    if i%2==0:
        even_list.append(i)
        
print(even_list)

[2, 4, 6]

In [33]:
# Using list comprehension
list1 = [1,2,3,4,5,6]
[i for i in list1 if i%2==0]

[2, 4, 6]

In [34]:
[10*i for i in list1 if i%2==0]

[20, 40, 60]

In [35]:
['apple'+str(i) for i in list1 if i%2==0]

['apple2', 'apple4', 'apple6']

In [ ]:
Question: 
    x = ['apple','kiwi','mango','apricot','avocado','pineapple','grapes']
    
Use list comprehension and output only those fruits which start with a

In [36]:
x = ['apple','kiwi','mango','apricot','avocado','pineapple','grapes']

[i for i in x if i[0] == 'a']

['apple', 'apricot', 'avocado']

In [ ]:
Question: 
    x = ['apple','kiwi','mango','apricot','avocado','pineapple','grapes']
    
Use list comprehension and output length of each word in the list.

In [37]:
x = ['apple','kiwi','mango','apricot','avocado','pineapple','grapes']

[len(word) for word in x]

[5, 4, 5, 7, 7, 9, 6]

In [ ]:
# zip

-> zip can take variable no of iterables.

In [38]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l3 = [9,10,11,12]

list(zip(l1,l2,l3))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [42]:
l1 = [1,2,3,4,'mango']
l2 = [5,6,7,8]
l3 = [9,10,11,12,'apple']

list(zip(l1,l2,l3))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [43]:
l1 = [1,2,3,4,'mango']
l2 = [5,6,7,8,'banana']
l3 = [9,10,11,12,'apple']

list(zip(l1,l2,l3))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12), ('mango', 'banana', 'apple')]

In [44]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l3 = [9,10,11,12]

list(map(sum,zip(l1,l2,l3)))

[15, 18, 21, 24]

In [ ]:
# zip zips the corresponding elements from all the iterables one by one and makes a tuple.

In [45]:
list1 = ['python','java','c++']
list2 = [3,8,14]

dict(zip(list1,list2))

{'python': 3, 'java': 8, 'c++': 14}

In [ ]:
Question: Use list comprehenson and zip:

l1 = ['python','java','django','perl']

Make a dict which will contain the keys from l1 and value should be length of the key.

5 minutes
20:50

In [47]:
l1 = ['python','java','django','perl']
l2 = [len(i) for i in l1]

dict(zip(l1,l2))

{'python': 6, 'java': 4, 'django': 6, 'perl': 4}

In [ ]:
Question: Use list comprehension and re(Regular Expression Module in Python) to contain only elements from the given list
    which starts with m and end with 2 digit number.

In [48]:
given_list = ['apple45','mango67','orange90','muskmelon78']

regx = '^m.*[0-9]{2}$'

In [49]:
import re

In [51]:
bool(re.search(regx,'mango88'))

True

In [52]:
bool(re.search(regx,'aango88'))

False

In [54]:
[i for i in given_list if re.search(regx,i)]

['mango67', 'muskmelon78']

In [ ]:
Another Version of List Comprehension : for if-else case

In [56]:
list1 = [1,2,5,6]

out1 = ['odd','even','odd','even']

list2 = [3,4,5]

out2 = ['odd','even','odd']

In [58]:
['odd' if i%2!=0 else 'even' for i in list2]

['odd', 'even', 'odd']

In [59]:
l1 = [10,20,30,40,50]
l2 = [1,2,3,4]

list(zip(l1,l2))

[(10, 1), (20, 2), (30, 3), (40, 4)]

In [60]:
for val1,val2 in zip(l1,l2):
    print(val1+val2)

11
22
33
44

In [62]:
[v1+v2 for v1,v2 in zip(l1,l2)]

[11, 22, 33, 44]

In [ ]:
Nested Loops inside list comprehension

In [65]:
for val1 in ['apple','mango','banana']:
    for val2 in range(100,103):
        print(val1+str(val2))

apple100
apple101
apple102
mango100
mango101
mango102
banana100
banana101
banana102

In [66]:
[val1+str(val2) for val1 in ['apple','mango','banana'] for val2 in range(100,103)]

['apple100',
 'apple101',
 'apple102',
 'mango100',
 'mango101',
 'mango102',
 'banana100',
 'banana101',
 'banana102']

In [ ]:
NOTE:
    YOU CAN CONVERT EVERY LIST COMPREHENSION INTO NORMAL CODE
    
    BUT
    
    YOU CAN NOT CONVERT EVERY FOR LOOP AND OTHER CODE INTO LIST COMPREHENSION