In [ ]:
isalpha()
isdigit()
isnumeric()
isalnum()
isspace()

In [1]:
'Apple'.isalpha()

True

In [2]:
'APPLE'.isalpha()

True

In [3]:
'123apple'.isalpha()

False

In [ ]:
if all the char are alphbets: True

In [4]:
'34.56'.isdigit()

False

In [5]:
'45'.isdigit()

True

In [6]:
'43.56'.isnumeric()

False

In [7]:
'456'.isnumeric()

True

In [8]:
'apple'.isnumeric()

False

In [9]:
'@#$%'.isdigit()

False

In [10]:
'-45'.isdigit()

False

In [11]:
'-45'.isnumeric()

False

In [12]:
'Apple123'.isalnum()

True

In [13]:
'applemango12345'.isalnum()

True

In [14]:
'34.34apple'.isalnum()

False

In [16]:
' '.isspace()

True

In [17]:
'$ 5'.isspace()

False

In [19]:
x = 'APARNALovesMango'
x.index('Mohit')

ValueError: substring not found

# LISTS

In [ ]:
mutable => add,update,delete
ordered => indexing and slicing
heterogenous => [{1,1,1,2,2},['apple','mango'],{'python':3,'java':8},('kiwi','banana'),True,False,None,'Random',99.99,100]
Iterables.

In [ ]:
add:
    append
    extend
    insert

In [21]:
l = ['python','c','c++']

l.append('java')

print(l)

['python', 'c', 'c++', 'java']

In [22]:
l.append('Mohit Singh Chouhan')

In [23]:
print(l)

['python', 'c', 'c++', 'java', 'Mohit Singh Chouhan']

In [24]:
l.append('Shivam Mishra')

In [25]:
print(l)

['python', 'c', 'c++', 'java', 'Mohit Singh Chouhan', 'Shivam Mishra']

In [ ]:
append: adds an element at the end.

In [26]:
l2 = ['Aparna','Priyal Jain','Pavan M P']

l.extend(l2)

print(l)

['python', 'c', 'c++', 'java', 'Mohit Singh Chouhan', 'Shivam Mishra', 'Aparna', 'Priyal Jain', 'Pavan M P']

In [27]:
l.append({'python':3})

In [28]:
print(l)

['python', 'c', 'c++', 'java', 'Mohit Singh Chouhan', 'Shivam Mishra', 'Aparna', 'Priyal Jain', 'Pavan M P', {'python': 3}]

In [29]:
x = ['rajput', 3.4, 5, 'a', 's']

In [30]:
print(x)

['rajput', 3.4, 5, 'a', 's']

In [32]:
l1 = ['apple','mango','kiwi']
l2 = ['banana','pineapple']

l3 = l1+l2
print(l3)

['apple', 'mango', 'kiwi', 'banana', 'pineapple']

In [33]:
l1 = []

l1.append('anubhav')

In [34]:
print(l1)

['anubhav']

In [35]:
l1.append(True)

In [36]:
print(l1)

['anubhav', True]

In [37]:
l1.append(None)

In [38]:
print(l1)

['anubhav', True, None]

In [39]:
ord('a')

97

In [40]:
chr(97)

'a'

## Q2.) Make a list with alphabets from m to z

### Intuition: Range function can create numbers and chr() can convert them to alphabets

### Pseudocode:
    1.) Create an empty list
    2.) make 2 variables for start and end alphabets. convert them to numbers
    3.) loop from start to end and convert each one of them to alphabet
    4.) save each one of them to list.

In [42]:
l = []
for i in range(6,10):
    l.append(i)
    
print(l)

[6, 7, 8, 9]

In [43]:
ord('m')

109

In [44]:
ord('z')

122

In [48]:
l = []
for i in range(ord('m'),ord('z')+1):
    l.append(chr(i))

In [49]:
print(l)

['m', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
Question: Take start and end alpabet as input from user and insert all the alphabets from start to end into a list.

In [60]:
start = input('Enter start alphabet ')
end = input('Enter end alphabet ')

l = []
for i in range(ord(start),ord(end)+1):
    l.append(chr(i))
print(l)

Enter start alphabet a
Enter end alphabet g
['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
Question:
l1 = [[1,2,3],[4,5,6],[7,8,9]]

l2 = [1,2,3,4,5,6,7,8,9]

Use extend builtin fun to obtain l2 from l1.

In [67]:
l1 = [[1,2,3],[4,5,6],[7,8,9]]
l2 = []

for miniList in l1:
    l2.extend(miniList)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
20:25

## Q3.) Find the maximum appearing alphabet in the string "apple is apple"
### Intuition: Use the learn count function learnt in the previous lesson

### Pseudocode:
    every char 
    check if already present in the list or not 
         if not present :
            calculate count 
            check max count condition 
            
### Question: Handle the scenario where multiple elements are appearing maximum no of times.

In [71]:
test_string = "apple is apple"
for char in test_string:
    count_of_char = test_string.count(char)
    print(char,'==>',count_of_char)

a ==> 2
p ==> 4
p ==> 4
l ==> 2
e ==> 2
  ==> 2
i ==> 1
s ==> 1
  ==> 2
a ==> 2
p ==> 4
p ==> 4
l ==> 2
e ==> 2

In [69]:
test_string = "apple is apple"
maximum_appearance = 0
max_char = None
for char in test_string:
    count_of_char = test_string.count(char)
#     print(char,'==>',count_of_char)
    if count_of_char > maximum_appearance:
        maximum_appearance = count_of_char
        max_char = char
print(max_char,' it is appearing ',maximum_appearance,' no of times.')

p  it is appearing  4  no of times.

In [70]:
test_string = "aaapple is apple"
maximum_appearance = 0
max_char = None
for char in test_string:
    count_of_char = test_string.count(char)
#     print(char,'==>',count_of_char)
    if count_of_char > maximum_appearance:
        maximum_appearance = count_of_char
        max_char = char
print(max_char,' it is appearing ',maximum_appearance,' no of times.')

a  it is appearing  4  no of times.

## Q4.) Use range(1,21) make two list, one should contain even numbers and the other should contain odd numbers

In [72]:
odd = []
even = []
for no in range(1,21):
    if no%2 == 0:
        even.append(no)
    else:
        odd.append(no)
print('odd ',odd)
print('even ',even)

odd  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
even  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [79]:
test_string = "apple is appleee"
maximum_appearance = 0
max_char = None
max_elements=[]
for char in test_string:
    count_of_char = test_string.count(char)
    if count_of_char > maximum_appearance:
        maximum_appearance = count_of_char
        max_char = char
for char in test_string:
    count_of_char = test_string.count(char)
    if count_of_char == maximum_appearance:
        max_elements.append(char)
print(set(max_elements),' it is appearing ',maximum_appearance,' no of times.')

{'p', 'e'}  it is appearing  4  no of times.

In [ ]:
Q0) How to find the maximum no from a list_of_numbers without using max().

In [81]:
l1 = [1,30,45,68,78,3,45,-90,-500000]
l2 = [-90,-60000,-6,-2]

print(max(l1))
print(max(l2))

78
-2

In [82]:
l2 = [-90,-60000,-6,-2]
maximum_no = l2[0]

for no in l2:
    if no > maximum_no:
        maximum_no = no
print(maximum_no)

-2

In [91]:
test_string = "apple is appllleee"
maximum_appearance = 0
for char in test_string:
    count_of_char = test_string.count(char)
    if count_of_char > maximum_appearance:
        maximum_appearance = count_of_char
print(maximum_appearance)

max_char = []
for char in test_string:
    count_of_char = test_string.count(char)
    if count_of_char == maximum_appearance:
        max_char.append(char)
print(set(max_char))

4
{'p', 'e', 'l'}

# insert

In [111]:
a = [10,20,30]

a.insert(2,25)
print(a)

[10, 20, 25, 30]

In [ ]:
# we use insert to insert an element at a certain index position.

insert(index_positoin,element)

In [115]:
a = ['python','csharp','scala']

a.insert(1,'java')
print(a)

['python', 'java', 'csharp', 'scala']