In [ ]:
Revisioin:
    
what is re module?

What is Regular Expression?

String which contains some rules to match a pattern

Metacharcter Chart
. => every char
[] => character class [0-9], [a-z], [A-Z],etc

counting stuff
{}
{2}
{3,5} 3,4 or 5 no of times

Anchors:
    ^ start of the string
    $ end of the string
    
Quantifiers:
    + => one or more occurence
    * => 0 or more occurence
    
    ? => optional 0 or 1

In [ ]:
# A string starting with 2 digit no and ending with m

In [1]:
import re

In [2]:
regx = '^[0-9]{2}.*m$'

list_of_words = ['44applem','78mango','33bananam']

for word in list_of_words:
    print(re.search(regx,word))

<re.Match object; span=(0, 8), match='44applem'>
None
<re.Match object; span=(0, 9), match='33bananam'>

In [5]:
regx = '^[0-9]{2,4}.*m$'

list_of_words = ['44applem','78mango','33bananam','786mangom','4444Notobacom']

for word in list_of_words:
    print(re.search(regx,word))

<re.Match object; span=(0, 8), match='44applem'>
None
<re.Match object; span=(0, 9), match='33bananam'>
<re.Match object; span=(0, 9), match='786mangom'>
<re.Match object; span=(0, 13), match='4444Notobacom'>

In [6]:
regx = '[0-9]{2}[a-z]{2}'

list_of_words = ['76trAPPLE678mango','55apple66bananas']

for word in list_of_words:
    print(re.search(regx,word))

<re.Match object; span=(0, 4), match='76tr'>
<re.Match object; span=(0, 4), match='55ap'>

In [7]:
regx = '[0-9]{2}[a-z]{2}'

list_of_words = ['76trAPPLE678mango','55apple66bananas']

for word in list_of_words:
    print(re.findall(regx,word))

['76tr', '78ma']
['55ap', '66ba']

In [10]:
regx = '^[0-9]?apple'

Start of the string may contain a single digit number, no more than 1 digit
followed by apple.

In [11]:
list_of_words = ['8apple','88apple','apple','786apple']

for word in list_of_words:
    print(re.search(regx,word))

<re.Match object; span=(0, 6), match='8apple'>
None
<re.Match object; span=(0, 5), match='apple'>
None

# Map

In [13]:
def sqr(n):
    return n**2

list1 = [1,2,3]

list2 = []

for no in list1:
    list2.append(sqr(no))
    
print(list2)

[1, 4, 9]

In [ ]:
# Syntax of Map function

list(map(fun_name,iterable_name))

In [ ]:
def sqr(n):
    return n**2

In [14]:
list(map(sqr,[1,2,3]))

[1, 4, 9]

In [15]:
list(map(sqr,list1))

[1, 4, 9]

In [16]:
fruits = ['apple','mango','banana','kiwi','pineapple']

print(list(map(len,fruits)))

[5, 5, 6, 4, 9]

In [17]:
fruits = [[1,2,3],[4,5,6]]

print(list(map(sum,fruits)))

[6, 15]

In [18]:
sum([1,2,3])

6

In [20]:
sum([4,5,6])

15

In [21]:
fruits = ['apple','mango','banana','kiwi','pineapple']

print(map(len,fruits))

<map object at 0x066605E0>

In [ ]:
map object is not readable by us, so we often typecaste it into list or other iterable.

In [23]:
print(list(map(sum,[(44,225),(1,2,5,3,5)])))

[269, 16]

In [24]:
def fun(string):
    return 'python' + string

In [25]:
list(map(fun,['3','4','5']))

['python3', 'python4', 'python5']

In [26]:
def fun2(a):
    return ('Hello',a)

In [27]:
list(map(fun2,['Krishna','Mohit','Siddharth','Bigyanshu']))

[('Hello', 'Krishna'),
 ('Hello', 'Mohit'),
 ('Hello', 'Siddharth'),
 ('Hello', 'Bigyanshu')]

In [28]:
x = [('python',3),('java',8),('c++',14)]

y = dict(x)

print(y)

{'python': 3, 'java': 8, 'c++': 14}

In [31]:
def fun3(a):
    if a == 'python':
        return ('python',3)
    elif a == 'java':
        return ('java',8)
    else:
        return ('c++',14)

In [32]:
dict(map(fun3,['python','java','c++']))

{'python': 3, 'java': 8, 'c++': 14}

In [ ]:
Question:
    Use map to get these results for the correpsonding items in the list:
        'potato' => 'gold'
        'harpic' => 'hussain'
        other cases => 'getlucky'
        
    for example:
        ['potato','harpic','potato','magic','krishnakant']
    output = ['gold','hussain','gold','getlucky','getlucky']

In [33]:
def check(a):
    if a == 'potato':
        return 'gold'
    elif a == 'harpic':
        return 'hussain'
    else:
        return 'getlucky'
    
list1 = ['potato','harpic','potato','magic','krishnakant']

print(list(map(check,list1)))

['gold', 'hussain', 'gold', 'getlucky', 'getlucky']

In [34]:
string1 = 'The quick brown fox jumps over a lazy dog'

# print length of each word using map

In [37]:
string1.split()

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']

In [41]:
list(map(len,string1.split()))

[3, 5, 5, 3, 5, 4, 1, 4, 3]

# How to take multiple int inputs from user in a single line

In [42]:
x = ['22','33','44','78']
for no in x:
    print(int(no))
y = [22,33,44,78]

22
33
44
78

In [43]:
list(map(int,x))

[22, 33, 44, 78]

In [ ]:
'22 33 44 78' => ['22','33','44','78']?

In [44]:
'22 33 44 78'.split()

['22', '33', '44', '78']

In [46]:
# Whenever we take input it is taken as a string.

x = input()

print(x.split(),type(x))

22 33 44 55
['22', '33', '44', '55'] <class 'str'>

In [47]:
list(map(int,input().split()))

22 33 44 55

[22, 33, 44, 55]

In [ ]:
list(map(fun_name,iterable))

fun_name = int which changes a numeric string into an integer
iterable = input().split()

In [49]:
input().split()

22 33 44 78

['22', '33', '44', '78']

# FILTER

In [ ]:
filter(fun_name,iterable)

stores elements which returns True/True equivalents by the fun_name().

In [51]:
def even(n):
    if n%2==0:
        return True
    return False

print(list(filter(even,[1,2,3,4,5])))

[2, 4]

In [2]:
list1 = ['python','java','perl','panorama','game']

output1 = ['python','perl','panorama']

# Solve it using filter so that we have final list which contains elements 
# starting with p.

In [54]:
def filter_names_starting_with_p(string1):
    if string1[0] == 'p':
        return True
    return False

In [56]:
list(filter(filter_names_starting_with_p,list1))

['python', 'perl', 'panorama']

In [57]:
def filter_names_starting_with_p(string1):
    if string1[0] == 'p':
        return 'mango'

list(filter(filter_names_starting_with_p,list1))

['python', 'perl', 'panorama']

In [3]:
def filter_names_starting_with_p(string1):
    if string1[0] == 'p':
        return 'mango'

list(filter(filter_names_starting_with_p,list1))

['python', 'perl', 'panorama']

In [ ]:
Homework Question:
    filter out the word which contains vowels

In [ ]:
lambda expression: one line function
they can take multiple inputs, but return only 1 output.
lambda functions
anonymours functions.

In [ ]:
Syntax
lambda input1,input2,... : output

In [4]:
fun1 = lambda x:x%2==0

In [5]:
fun1(4)

True

In [6]:
fun1(3)

False

In [7]:
fun2 = lambda a:a+2

In [8]:
fun2(5)

7

In [9]:
fun2(3)

5

In [10]:
fun2(400)

402

In [11]:
fun3 = lambda a,b:a+b

In [12]:
fun3(2,3)

5

In [13]:
fun3(4,5)

9

In [14]:
fun3(6,7)

13

In [15]:
list(filter(lambda x:x%2==0,[1,2,3,4,5,6,7]))

[2, 4, 6]

In [ ]:
Homework: How it is working??