In [ ]:
DATA TYPES:
    IMMUTABLE:
        int
        float
        str
        bool
        None
        tuple
        
    Mutable:
        list
        dict
        set
        
    Iterables:
        list
        dict
        set
        tuple
        str
        range fun
        
    2 most imp things about keys in dict and set:
        1) unique
        2) immutable

In [ ]:
Type Casting or Type Converting

In [1]:
list1 = [1,2,3,4]

x = tuple(list1)
print(x)

(1, 2, 3, 4)

In [2]:
str1 = '400'
print(type(str1))

<class 'str'>

In [4]:
y = int(str1)

print(type(y))

<class 'int'>

In [5]:
x = [1,2,3,4]

In [6]:
x = ([1,2,3],'apple')
# can I change 3 to 30?
# Yes
# list is mutable

x[0][2] = 30

In [7]:
print(x)

([1, 2, 30], 'apple')

In [9]:
y = [(1,2,3),'mango']
# can I change 3 to 30
# NO
# tuples are immutable

In [10]:
y[0][2] = 30

TypeError: 'tuple' object does not support item assignment

In [ ]:
if boolean:
    print('if boolean is true')

In [ ]:
if boolean_1:
    if boolean_2:
        if boolean_3:
            pass
        else:
            print('hello world')

In [12]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

In [17]:
x = 5
if x == 3:
    print('wow')
elif x == 5:
    print('double wow')
else:
    print('you are not a good number')

double wow

In [19]:
fruits = ['apple','mango','banana','kiwi']
for i in fruits:
    print(i,end=' ')

apple mango banana kiwi

In [20]:
x = 0
while x<3:
    print(x)
    x+=1

0
1
2

In [22]:
x = list()
x.append(45)
x.append(56)
print(x)

[45, 56]

In [23]:
y = dict()

y['python'] = 3
print(y)

{'python': 3}

In [ ]:
# break , pass , continue

In [24]:
x = 0
while x<10:
    if x == 3:
        break
    print(x)
    x+=1

0
1
2

In [2]:
x = 0
while x<10:
    x+=1
    if x == 3:
        continue
    print(x)

1
2
4
5
6
7
8
9
10

In [ ]:
pass is just a placeholder for a future code.

In [3]:
x = 0
while x<10:
    x+=1
    if x == 3:
        pass
    print(x)

1
2
3
4
5
6
7
8
9
10

In [4]:
x = dict()

In [5]:
y = {}

print(type(x),type(y))

<class 'dict'> <class 'dict'>

In [6]:
t = set()
print(type(t))

<class 'set'>

In [8]:
m = {34}
print(type(m))

<class 'set'>

In [9]:
'11 22 33 44'.split()

['11', '22', '33', '44']

In [11]:
(' ').join(['11', '22', '33', '44'])

'11 22 33 44'

In [12]:
x = (34)
print(type(x))

<class 'int'>

In [13]:
x = (34,)
print(type(x))

<class 'tuple'>

In [16]:
ord('a')

97

In [17]:
ord('z')

122

In [18]:
chr(97)

'a'

In [19]:
chr(122)

'z'

In [ ]:
delete operations:
    del
    pop()
    clear()
    remove()

In [21]:
list1 = [1,2,3]

dict1 = {'python':3}
dict1.popitem()

('python', 3)

In [ ]:
x = 'pythonjavapython'

In [ ]:
set operations:
    union
    intersection
    difference
    symmetric_difference
    update
    add
    remove
    pop
    discard

In [ ]:
len

In [22]:
def fun1(x):
    print(x+4)

In [23]:
fun1(45)

49

In [24]:
fun1(37)

41

In [ ]:
What is a module?
a .py file containg python codes.
we generally import modules into other python files to use code which is present in them.

Package?
A collection of py files and related data files for a specific purpose

In [ ]:
+ act as concatenation whenever there is a string in both the sides.
if int or float it will add them

In [25]:
'appy' + 'fizz'

'appyfizz'

In [26]:
'34' + '45'

'3445'

In [27]:
34 + 45.6

79.6

In [32]:
def fun1():
    global x
    x = 500
    print(x)
    
x = 50
fun1()
print('x outside fun',x)

500
x outside fun 500

In [33]:
def fun1():
    x = 500
    print(x)
    
x = 50
fun1()
print('x outside fun',x)

500
x outside fun 50

In [34]:
def fun2(**kwargs):
    print(kwargs)

In [35]:
fun2(name='bigyanshu',subject='mathematics')

{'name': 'bigyanshu', 'subject': 'mathematics'}

In [ ]:
r,w,a,r+,a+,w+

In [37]:
fo = open('example.txt','w+')

In [38]:
fo.write('test123')

7

In [39]:
fo.close()