In [ ]:
Strings builtin functions
    format
    split and join
    isupper()
    isalpha()
    isnum()
    isdigit()
    count()
    index()
    find()
    rfind()
    title()
    upper()
    lower()
    isalnum()
    replace()

In [1]:
'I am No {0} at Python'.format('one')

'I am No one at Python'

In [2]:
'I am No {whichNo} at Python'.format(whichNo='one')

'I am No one at Python'

In [4]:
'I am No one at Python'.split(' ')

['I', 'am', 'No', 'one', 'at', 'Python']

In [5]:
(' ').join(['I', 'am', 'No', 'one', 'at', 'Python'])

'I am No one at Python'

# lstrip, strip , rstrip

In [20]:
x = 'PythonJavaPython'
y = x.strip('Python')
print(y)

Java

In [8]:
x = 'PythonJavaPython'

y = x.lstrip('Python')
print(y)

JavaPython

In [10]:
x = 'PythonJavaPython'

y = x.rstrip('Python')
print(y)

PythonJava

# Lists

In [ ]:
append
extend
insert

In [11]:
x = ['apple','mango','banana']
x.append('kiwi')
print(x)

['apple', 'mango', 'banana', 'kiwi']

In [12]:
y = ['pineapple','lichi','peach']

x.extend(y)

print(x)

['apple', 'mango', 'banana', 'kiwi', 'pineapple', 'lichi', 'peach']

In [13]:
x = ['apple','mango','banana']

x.insert(1,'kiwi')
print(x)

['apple', 'kiwi', 'mango', 'banana']

## deletion in Lists

In [ ]:
### pop => takes index, by default it has the index of last element, returns the element which it removed.

### remove => takes value, it will not return anything.

### clear => removes all the elements, it makes the list empty.

### del => deletes the ref,name as well as the object.

In [21]:
y = ['pineapple','lichi','peach']

returned_value = y.pop()

print(returned_value)
print(y)

peach
['pineapple', 'lichi']

In [22]:
y = ['pineapple','lichi','peach']

returned_value = y.pop(1)

print(returned_value)
print(y)

lichi
['pineapple', 'peach']

In [23]:
returned_value = y.pop(1)

print(returned_value)
print(y)

peach
['pineapple']

In [25]:
y = ['apple', 'mango', 'banana', 'kiwi', 'pineapple', 'lichi', 'peach']

returned_value = y.pop(0)

print(returned_value)
print(y)

apple
['mango', 'banana', 'kiwi', 'pineapple', 'lichi', 'peach']

In [28]:
y = ['apple', 'mango', 'banana', 'kiwi', 'pineapple', 'lichi', 'peach']

returned_value = y.pop(2)

print(returned_value)
print(y)

banana
['apple', 'mango', 'kiwi', 'pineapple', 'lichi', 'peach']

In [29]:
y = ['apple', 'mango', 'banana', 'kiwi', 'pineapple', 'lichi', 'peach']

returned_value = y.remove('mango')

print(returned_value)
print(y)

None
['apple', 'banana', 'kiwi', 'pineapple', 'lichi', 'peach']

In [30]:
y = ['apple', 'mango', 'banana', 'kiwi', 'pineapple', 'lichi', 'peach']

returned_value = y.remove('banana')

print(returned_value)
print(y)

None
['apple', 'mango', 'kiwi', 'pineapple', 'lichi', 'peach']

In [31]:
y = ['apple', 'mango', 'banana', 'kiwi', 'pineapple', 'lichi', 'peach']

returned_value = y.remove('kiwi')

print(returned_value)
print(y)

None
['apple', 'mango', 'banana', 'pineapple', 'lichi', 'peach']

In [35]:
y = ['apple', 'mango', 'banana', 'kiwi', 'pineapple', 'lichi', 'peach']

y.clear()
print(y)

[]

In [36]:
y = ['apple', 'mango', 'banana', 'kiwi', 'pineapple', 'lichi', 'peach']

del y
print(y)

NameError: name 'y' is not defined

# sort, index, count, reverse,sorted() in lists

sorting means arranging elements in an order like ascending or descending based on certain value

In [37]:
l = [10,4000,300,-40]

l.sort()
print(l)

[-40, 10, 300, 4000]

In [38]:
l = [10,4000,300,-40]

l.sort(reverse=True)
print(l)

[4000, 300, 10, -40]

In [40]:
l = [83,-90,78,600,53,0,-45,-3]

l.sort(reverse=True)
print(l)

[600, 83, 78, 53, 0, -3, -45, -90]

In [43]:
l = [83,-90,78,600,53,0,-45,-3]
print(id(l))
l = sorted(l)
print(id(l))
print(l)

1578664
1577960
[-90, -45, -3, 0, 53, 78, 83, 600]

In [ ]:
sorted() creates a new list and sorts there.
sort() does sorting in the same list.

In [47]:
l = [83,-90,78,600,53,0,-45,-3,-90]

print(l.index(-90))

1

In [ ]:
l = [83,-90,78,600,53,0,-45,-3,-90,600,53,53]
Question: How to get all the index positions any number.

20:25

In [56]:
item = int(input())
l = [83,-90,78,600,53,0,-45,-3,-90,600,53,53]
for i in range(0,len(l)):
    if l[i] == item:
        print(i)

53
4
10
11

In [60]:
item = int(input())
l = [83,-90,78,600,53,0,-45,-3,-90,600,53,53]

for value in l:
    if value == item:
        x = l.index(value)
        print(x)

53
4
4
4

In [62]:
l = [83,-90,78,600,53,0,-45,-3,-90]
n=int(input("Enter any number"))
ind=[]
while(True):
    print(l)
    if(n in l):
        ind.append(l.index(n))
        l.remove(n)
        print(l)
    else:
        break
print(ind)

Enter any number-90
[83, -90, 78, 600, 53, 0, -45, -3, -90]
[83, 78, 600, 53, 0, -45, -3, -90]
[83, 78, 600, 53, 0, -45, -3, -90]
[83, 78, 600, 53, 0, -45, -3]
[83, 78, 600, 53, 0, -45, -3]
[1, 7]

In [65]:
item = int(input())
l = [83,-90,78,600,53,0,-45,-3,-90,600,53,53]

for value in l:
    if value == item:
        print(l)
        x = l.index(value)
        print(x)
        l[x] = None

53
[83, -90, 78, 600, 53, 0, -45, -3, -90, 600, 53, 53]
4
[83, -90, 78, 600, None, 0, -45, -3, -90, 600, 53, 53]
10
[83, -90, 78, 600, None, 0, -45, -3, -90, 600, None, 53]
11

In [66]:
l = [83,-90,78,600,53,0,-45,-3,-90,600,53,53]

count_of_53 = l.count(53)

print(count_of_53)

3

In [68]:
l = [83,-90,78,600,53,0,-45,-3,-90,600,53,53]

count_of_53 = l.count(-45)

print(count_of_53)

1

In [77]:
l = [83,-90,78,600,53,0,-45,-3,-90,600,53,53]

k = l[::-1]
print(k)

[53, 53, 600, -90, -3, -45, 0, 53, 600, 78, -90, 83]

In [71]:
l = [83,-90,78,600,53,0,-45,-3,-90,600,53,53]

l.reverse()

print(l)

[53, 53, 600, -90, -3, -45, 0, 53, 600, 78, -90, 83]

In [ ]:
## Tuples:
-> Immutable: update,delete and insert operations like in lists.
-> ordered: Indexing and slicing
-> Heterogenour: contains all types of data types.

In [72]:
# How do you create a tuple with single element?

a = (1,2,3,4)
print(type(a))

<class 'tuple'>

In [73]:
print(a[0])

1

In [74]:
print(a[1:3])

(2, 3)

In [75]:
a = (1)

print(type(a))

<class 'int'>

In [76]:
a = (1,)
print(type(a))

<class 'tuple'>

In [78]:
a = ('mango','kiwi')
del a
print(a)

NameError: name 'a' is not defined

In [ ]:
count, index

In [79]:
a = ('mango','kiwi','mango','banana','mango')
print(a.count('mango'))

3

In [81]:
a = ('mango','kiwi','mango','banana','mango')
print(a.index('kiwi'))

1

In [82]:
help(a.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [83]:
help('apple'.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [ ]:
Question: Create two tuples odd and even which will contain even no and odd no from the range(1,20).
    
20:55

In [85]:
odd = []
even = []
for i in range(1,20):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
odd_tuple = tuple(odd)
even_tuple = tuple(even)
print(odd_tuple) 
print(even_tuple)

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19)
(2, 4, 6, 8, 10, 12, 14, 16, 18)